<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyManager">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddTransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".InstallmentsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".AddInstallmentActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".DebtsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".AddDebtActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".BudgetsActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".BackupActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".RemindersActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <activity
            android:name=".AddReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.MoneyManager" />

        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
